@font-face {
    font-family: 'BonvenoCFLight';
    src: url('font/BonvenoCF-Light-webfont.eot');
    src: url('font/BonvenoCF-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/BonvenoCF-Light-webfont.woff') format('woff'),
         url('font/BonvenoCF-Light-webfont.ttf') format('truetype'),
         url('font/BonvenoCF-Light-webfont.svg#BonvenoCFLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
	padding:0px;
	margin: 0px;
}

body {
	text-shadow:1px 1px 2px rgba(35, 31, 32, .5);
}


html {
	background:url(images/html-bg.jpg) top repeat-x;
}

.clr {
	clear:both;	
}

.karkas {
	background:url(images/body-bg.png) center top no-repeat;
	width:960px;
	margin: 0 auto;
	overflow:hidden;
	position:relative;	
}

.menu {
	background:url(images/menu-bg.png) right center no-repeat;
	line-height:1.3;
	float:right;
	position:fixed;
	margin: 10px 10px 0 465px;
	padding:0px 15px 0px 0px;
	width:470px;
	height:35px;
	color:white;
	z-index: 100;	
}

.menu ul {
	float:right;
	list-style:none;
}
.menu li {
	float:left;
	font-size:12px;  
	font-family:'BonvenoCFLight'; 
	text-transform:uppercase; 
	margin:10px 0 0 22px;	
}

.menu span {
	margin-top:12px;
	margin-right:18px;
	float:left;	
	font-family:'BonvenoCFLight';
	text-transform:uppercase;
	font-size:8px;  
	color:#d6d6d6;
}

.menu li a{
	text-decoration:none;
	color:#fff;	
}

.menu li a:hover{
	color:#d6d6d6;
	}
.menu li a.active{
	color:#ffd200;
}

.rocket {
	position:absolute;
	left:600px;
	top:115px;	
}

.logo {
	margin-top:106px;
	float:left;	
}

.home {
	height: 760px;
	width: 100%;
	overflow: hidden;
}

.welcome {
	overflow: hidden;
	float:left;
	width:500px;
	height: 320px;
	background:url(images/welcome-bg.png)  no-repeat;
	background-position: 0px 30px;
	margin:120px 0 0 80px;
	/*bottom:0px;*/
	/*left:79px;*/
	/*margin: 120px 0 0 80px;*/
}

.welcome h1 {
	text-transform:uppercase;
	font-family:'BonvenoCFLight'; 
	font-size:18px; 
	color:#ffd200;	
	font-weight:normal;
	margin:7px 0 30px 0;
}

.welcome p{
	color:#fff; 
	font-size:11px; 
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; 
	padding:0 0 0 25px;
	text-align:justify;
}

.network {
	width:132px;
	height:174px;
	clear:both;
	float:right;
	background:url(images/network-bg.png) no-repeat;
	background-position:right;
	margin:-163px 67px 0 0;
}

.network h2 {
	margin:54px 0 0 34px;
	font-family:'BonvenoCFLight'; 
	font-size:14px; 
	color:#ffd200; 
	text-transform:uppercase; 
	font-weight:normal; 

}

.network p {
	font-family:Arial, Helvetica, sans-serif; 
	color:#fff; 
	font-size:11px; 
	margin:8px 0 0 58px;	
}

.network img{
	margin-right:10px;	
}

.baloon1 {
	position:absolute;
	margin:142px 0 0 34px;
	z-index:99;	
}

.baloon2 {
	position:absolute;
	margin:194px 0 0 152px;
	z-index:98;	
}

.about-clouds1{
	position:absolute;
	z-index:97;
	margin:260px 0 0 30px;
}

.about-clouds2{
	position:absolute;
	z-index:97;
	margin:490px 0 0 170px;
}

.about {
	overflow:hidden;
	width:100%;
	height: 760px;	
}

.about-info {
	clear:both;
	float:right;
	width:600px;
	height:340px;
	background-color:red;
	margin-top:365px;	
	background:url(images/about-bg.png) no-repeat;
	background-position: 25px 25px;
}

.about-info h1 {
	text-transform:uppercase;
	font-family:'BonvenoCFLight'; 
	font-size:18px; 
	color:#ffd200;	
	font-weight:normal;
	margin:0 0 -1px 30px;
}

.about-info p {
	color:#fff; 
	font-size:11px; 
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; 
	padding:15px 90px 0 50px;
	text-align:justify;	
	line-height: 1.8;
}

.about-info ul {
	list-style:none;
	margin:0 90px 0 0;
}

.about-info li {
	float:right; 
	font-size:12px; 
	padding-left:40px;
	padding-top:40px;
	/*margin-left:35px;*/		
}

.about-info a {
	font-family:'BonvenoCFLight';
	color:#cbe2fe;
	text-decoration:none;	
	padding-top:10px;
}

.about-info li a.active {
	background:url(images/about-link-bg.jpg) top center no-repeat;
	color:#fff;
}

.portfolio-clouds1{
	position:absolute;
	z-index:97;
	margin:90px 0 0 720px;
}

.portfolio-clouds2{
	position:absolute;
	z-index:97;
	margin:500px 0 0 0px;
}

.portfolio {
	overflow:hidden;
	width:100%;
	height: 735px;
	z-index:90;	
}

.portfolio-galery {
	height:350px;
	width:720px;
	background:url(images/portfolio-bg.png) no-repeat;	
	background-position:4px 37px;
	margin:140px 0 0 0;
}

.portfolio-galery h1 {
	font-family:'BonvenoCFLight'; 
	font-size:18px; 
	color:#014f86; 
	text-transform:uppercase; 
	font-weight:normal; 
	margin:0 0 0 8px;	
}

.portfolio-image {
	margin:20px 0 0 20px;	
}

.portfolio-find {
	position:absolute;	 
	width:172px;
	height:62px;
	background:url(images/find-us.png) no-repeat;
	margin:22px 0 0 720px;
	/*margin:35px 70px 0 0;	*/
}
.portfolio-find h2 {
	padding: 30px 6px 0 27px; 
	float:left;
	color:#014f86; 
	text-transform:uppercase; 
	font-size:12px; 
	font-family:'BonvenoCFLight'; 	
}

.portfolio-find img {
	margin-top:30px;
	margin-left:10px;
}

.contacts {
	overflow:hidden;
	width:100%;
	height:753px;	
}

.contacts-hill {
	position:absolute;
	z-index:91;
	margin:-133px 0 0 130px;	
}

.contacts-tree1 {
	position:absolute;
	margin:275px 0 0 5px;
}

.contacts-tree2 {
	position:absolute;
	margin:480px 0 0 720px;
}

.contact-field {
	position:absolute;
	overflow:hidden;
	width:490px;
	height:340px;	
	background:url(images/contacts-bg.png) no-repeat;
	background-position:0 50px;
	margin:266px 0 0 224px;
	
}

.contact-field h1{
	font-family:'BonvenoCFLight'; 
	font-size:18px; 
	color:#fff; 
	text-transform:uppercase; 
	font-weight:normal; 
	margin:2px 0 17px 4px;	
}

.contact-field p {
	posotion:absolute;
	color:#fff; 
	font-size:11px; 
	font-family:'BonvenoCFLight'; 
	margin:9px 0 0 0;
	padding-top:10px;
}

.contact-field textarea {
	background:url(images/textarea-bg.png) no-repeat;
	height:147px;
	width:273px;
	border:none;
	margin:0 15px 5px 30px;
	padding-left:10px;
	padding-top:5px;
	resize:none;
	color:#b0d534; 
	font-family:'BonvenoCFLight'; 
	font-size:12px;
	float:left;	
}

.input-name {
	background:url(images/input-bg.png) no-repeat;
	width:284px;
	height:32px;
	border:none;
	margin:0px 4px 5px 30px;
	padding-left:10px;
	float:left;	
	color:#b0d534; 
	font-family:'BonvenoCFLight'; 
	font-size:12px;
}

.send-btn {
	position:absolute;
	margin:86px 0 0 0;	
}

.call-us {
	clear:both;
	float:left;
	margin:25px 0 0 32px;	
}

.call-us span {
	color:#ffcc00; 
	font-size:11px; 
	font-family: Arial, Helvetica, sans-serif;	
}

